#card10 {
    .card {
        @extend .card-layout;
        height: 25vh;

        @media screen and(max-width: 62.5em) {
            height: 80vh !important;
        }

        &__image {
            @extend .card-image;
            transition: inherit;
        }

        &__item {
            @extend .card-item;
            @include transition(.4s);
            padding: 0;
            height: 100%;
            background-color: transparent;
            box-shadow: none;

            &:hover>.card__front {
                transform: perspective(80rem) rotateY(-180deg);
            }

            &:hover>.card__back {
                transform: perspective(80rem) rotateY(0deg);
            }
        }

        &__front,
        &__back {
            transition: inherit;
            position: absolute;
            width: inherit;
            height: 25vh;
            overflow: hidden;
            backface-visibility: hidden;
            display: grid;
            place-items: center;
            color: #fff;
            padding: 4rem;
        }

        &__front {
            transform: perspective(80rem) rotateY(0deg);
        }

        &__back {
            transform: perspective(80rem) rotateY(180deg);
        }

        &__item:nth-child(1) .card__front {
            background: linear-gradient(315deg, #0876b7, green);
        }

        &__item:nth-child(2) .card__front {
            background: linear-gradient(315deg, BlueViolet, PaleVioletRed);
        }

        &__item:nth-child(3) .card__front {
            background: linear-gradient(315deg, OrangeRed, YellowGreen);
        }

        &__item:nth-child(1) .card__back {
            background: linear-gradient(315deg, OrangeRed, YellowGreen);
        }

        &__item:nth-child(2) .card__back {
            background: linear-gradient(315deg, #0876b7, green);
        }

        &__item:nth-child(3) .card__back {
            background: linear-gradient(315deg, BlueViolet, PaleVioletRed);
        }
    }

}