.rainbow-text {
  -webkit-animation: rainbow 5s infinite;
  animation: rainbow 5s infinite;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.my-large {
  margin: 4rem 0;
}
