:root {
  --color-primary-light: #009be5;
  --color-primary-dark: #1b6aac;

  --box-shadow-light: 0.3rem 0.4rem 1rem rgba(0, 0, 0, 0.15);
  --box-shadow-dark: 1.2rem 1.2rem 1.4rem rgba(0, 0, 0, 0.35);
}