#card8 {
    .card {
        @extend .card-layout;

        &__image {
            @extend .card-image;
            z-index: 10;
            background-color: #fff;
            transition: inherit;
            transform: translateX(55%);
            width: 16rem;
        }

        &__item {
            @extend .card-item;
            grid-template-columns: repeat(2, 1fr);
            @include transition(.4s);
        }

        &__content {
            padding: 2rem;
            text-align: center;
            background-color: #fff;
            z-index: 1;
            opacity: 0;
            transition: inherit;
            transform: translateX(-5rem);
        }

        &__item:hover {
            transform: scale(1.07);
        }

        &__item:hover .card__content {
            transform: translateX(-55%);
            opacity: 1;
            grid-template-columns: repeat(1, 1fr);

        }

        &__item:hover .card__image {
            // transform: translateX(0%);
            opacity: 0;

        }

    }

}