#card2 {
    .card {
        @extend .card-layout;

        &__image {
            @extend .card-image;
        }

        &__item {
            @extend .card-item;

            &:before {
                content: '';
                position: absolute;
                top: -.4rem;
                left: -.4rem;
                background: linear-gradient(45deg, orange, CornflowerBlue, LawnGreen, yellow, coral, Crimson);
                width: calc(100% + .8rem);
                height: calc(100% + .8rem);
                background-size: 400%;
                z-index: -1;
                animation: card2 20s linear infinite;
            }

        }
    }


}