#card2 {
    .card {
        @extend .card-layout;

        &__image {
            @extend .card-image;
        }

        &__item {
            @extend .card-item;

            &:before {
                content: '';
                position: absolute;
                top: -.2rem;
                left: -.2rem;
                background: linear-gradient(45deg, red, green, orange, SpringGreen, DarkSlateGray, yellow, coral, white, cyan, GreenYellow, Crimson);
                width: calc(100% + .4rem);
                height: calc(100% + .4rem);
                background-size: 400%;
                z-index: -1;
                animation: card2 40s linear infinite;
            }

        }
    }


}