.navigation {
  position: fixed;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-black-light);
  color: #fff;
  text-align: center;
  z-index: 1000;

  @media screen and (max-width: 37.5em) {
    justify-content: center;
    padding: 1.6rem 0rem;
  }

  &__logo {
    display: flex;
    place-items: center;
    font-style: italic;
    padding: 1.6rem 2rem;

    img {
      width: 6rem;
      margin-right: 2rem;
    }
  }

  &__menu {
    list-style: none;
    font-weight: 400;
    margin: 0 2.4rem;
    display: flex;

    @media screen and (max-width: 37.5em) {
      margin: 0;
    }
  }

  &__menu-item {
    cursor: pointer;
    display: flex;
    background-color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 1rem;
    border-bottom: 1px solid transparent;
    transition: background-color 0.3s;
    border-radius: .5rem;


    a {
      width: 100%;
      padding: 1rem 2.6rem;

    }

    &:hover {
      background-color: rgba(#fff, 0.8);
    }
  }
}