@keyframes rainbow {
  0% {
    color: orange; }
  10% {
    color: SpringGreen; }
  20% {
    color: red; }
  30% {
    color: DarkSlateGray; }
  40% {
    color: yellow; }
  50% {
    color: coral; }
  60% {
    color: white; }
  70% {
    color: cyan; }
  80% {
    color: GreenYellow; }
  90% {
    color: Crimson; }
  100% {
    color: orange; } }

:root {
  --color-primary-light: #009be5;
  --color-primary-dark: #1b6aac;
  --box-shadow-light: 0.3rem 0.4rem 1rem rgba(0, 0, 0, 0.15);
  --box-shadow-dark: 1.2rem 1.2rem 1.4rem rgba(0, 0, 0, 0.35); }

.rainbow-text {
  -webkit-animation: rainbow 5s infinite;
  animation: rainbow 5s infinite; }

.text-center {
  text-align: center; }

.text-uppercase {
  text-transform: uppercase; }

.my-large {
  margin-bottom: 4rem; }

.card-layout, #classic-card .card, #card1 .card, #card2 .card {
  display: grid;
  place-items: center;
  grid-gap: 8rem;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1.6rem; }
  @media screen and (max-width: 43.75rem) {
    .card-layout, #classic-card .card, #card1 .card, #card2 .card {
      grid-gap: 4rem;
      grid-template-columns: repeat(1, 1fr); } }

.card-item, #classic-card .card__item, #card1 .card__item, #card2 .card__item {
  box-shadow: var(--box-shadow-dark);
  background: linear-gradient(45deg, #fff, #fff);
  display: grid;
  place-items: center;
  width: 100%;
  padding: 2rem;
  position: relative; }

.card-image, #classic-card .card__image, #card1 .card__image, #card2 .card__image {
  width: 16rem; }

@keyframes card1-top {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(100%); } }

@keyframes card1-right {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(100%); } }

@keyframes card1-bottom {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(-100%); } }

@keyframes card1-left {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(-100%); } }

@keyframes card2 {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 400% 0; }
  100% {
    background-position: 0 0; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

html {
  font-size: 62.5%; }

* {
  font-family: "Source Code Pro", monospace; }

h1 {
  font-size: 3.8rem; }

h2 {
  font-size: 3.2rem; }

h3 {
  font-size: 2.8rem; }

body {
  background-color: #fff; }

main > * {
  padding: 8rem; }
  @media screen and (max-width: 43.75rem) {
    main > * {
      padding: 2rem; } }

main > *:nth-child(odd) {
  background-color: #efefef; }

.navigation {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c3c3c3;
  background-color: var(--color-primary-light);
  color: #fff;
  text-align: center; }
  @media screen and (max-width: 37.5em) {
    .navigation {
      justify-content: center;
      padding: 1.6rem 0rem; } }
  .navigation__logo {
    display: flex;
    place-items: center;
    font-style: italic;
    padding: 1.6rem 2rem; }
    .navigation__logo img {
      width: 6rem;
      margin-right: 2rem; }
  .navigation__menu {
    list-style: none;
    font-weight: 400;
    margin: 0 2.4rem; }
    @media screen and (max-width: 37.5em) {
      .navigation__menu {
        margin: 0; } }
  .navigation__menu-item {
    cursor: pointer;
    display: block;
    background-color: #fff;
    padding: 1rem 2.4rem;
    font-size: 1.8rem;
    font-weight: 700;
    border-bottom: 1px solid transparent;
    transition: background-color 0.3s;
    border-radius: 15px; }
    .navigation__menu-item:hover {
      background-color: rgba(255, 255, 255, 0.8); }

#classic-layout .classic-layout {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  place-items: center;
  justify-items: center;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700; }
  @media screen and (max-width: 37.5em) {
    #classic-layout .classic-layout {
      grid-template-columns: auto; } }
  #classic-layout .classic-layout > * {
    width: 100%;
    text-align: center; }
  #classic-layout .classic-layout__header {
    padding: 2rem;
    grid-column: 1 / -1;
    background-color: BlueViolet; }
  #classic-layout .classic-layout__sidebar-left {
    padding: 2rem;
    background-color: SteelBlue; }
  #classic-layout .classic-layout__sidebar-right {
    padding: 2rem;
    background-color: DarkSlateGray; }
  #classic-layout .classic-layout__main {
    padding: 2rem;
    background-color: PaleVioletRed; }
  #classic-layout .classic-layout__footer {
    padding: 2rem;
    grid-column: 1 / -1;
    background-color: DarkCyan; }

#classic-main-layout .classic-main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 30vh;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700; }
  #classic-main-layout .classic-main__header {
    padding: 2rem;
    grid-column: 1 / -1;
    background-color: BlueViolet; }
  #classic-main-layout .classic-main__main {
    padding: 2rem;
    background-color: SteelBlue; }
  #classic-main-layout .classic-main__footer {
    padding: 2rem;
    grid-column: 1 / -1;
    background-color: DarkCyan; }

#classic-card-layout .classic-card {
  display: grid;
  place-items: center;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700; }
  #classic-card-layout .classic-card__item {
    display: grid;
    place-items: center;
    background-color: SlateBlue;
    width: 100%;
    height: 15vh; }

#classic-grid-layout .classic-grid {
  display: grid;
  place-items: center;
  grid-gap: 2rem;
  grid-template-columns: repeat(12, 1fr);
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700; }
  @media screen and (max-width: 61.25em) {
    #classic-grid-layout .classic-grid {
      display: block; } }
  #classic-grid-layout .classic-grid__item {
    background-color: var(--color-primary-light);
    padding: 2rem;
    width: 100%;
    text-align: center; }
    @media screen and (max-width: 61.25em) {
      #classic-grid-layout .classic-grid__item {
        margin: 1em 0; } }
    #classic-grid-layout .classic-grid__item:nth-child(1) {
      grid-column: span 12; }
    #classic-grid-layout .classic-grid__item:nth-child(2), #classic-grid-layout .classic-grid__item:nth-child(3) {
      grid-column: span 6; }
    #classic-grid-layout .classic-grid__item:nth-child(4), #classic-grid-layout .classic-grid__item:nth-child(5), #classic-grid-layout .classic-grid__item:nth-child(6) {
      grid-column: span 4; }
    #classic-grid-layout .classic-grid__item:nth-child(7), #classic-grid-layout .classic-grid__item:nth-child(8), #classic-grid-layout .classic-grid__item:nth-child(9), #classic-grid-layout .classic-grid__item:nth-child(10) {
      grid-column: span 3; }
    #classic-grid-layout .classic-grid__item:nth-child(11), #classic-grid-layout .classic-grid__item:nth-child(12), #classic-grid-layout .classic-grid__item:nth-child(13), #classic-grid-layout .classic-grid__item:nth-child(14), #classic-grid-layout .classic-grid__item:nth-child(15), #classic-grid-layout .classic-grid__item:nth-child(16) {
      grid-column: span 2; }
    #classic-grid-layout .classic-grid__item:nth-child(17), #classic-grid-layout .classic-grid__item:nth-child(18), #classic-grid-layout .classic-grid__item:nth-child(19), #classic-grid-layout .classic-grid__item:nth-child(20), #classic-grid-layout .classic-grid__item:nth-child(21), #classic-grid-layout .classic-grid__item:nth-child(22), #classic-grid-layout .classic-grid__item:nth-child(23), #classic-grid-layout .classic-grid__item:nth-child(24), #classic-grid-layout .classic-grid__item:nth-child(25), #classic-grid-layout .classic-grid__item:nth-child(26), #classic-grid-layout .classic-grid__item:nth-child(27), #classic-grid-layout .classic-grid__item:nth-child(28) {
      grid-column: span 1; }

#card1 .card__item {
  overflow: hidden; }
  #card1 .card__item span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: .3rem;
    background: linear-gradient(to right, transparent, var(--color-primary-dark));
    animation: card1-top 2s linear infinite; }
  #card1 .card__item span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: .3rem;
    height: 100%;
    background: linear-gradient(to bottom, transparent, SpringGreen);
    animation: card1-right 2s linear infinite;
    animation-delay: 1s; }
  #card1 .card__item span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .3rem;
    background: linear-gradient(to left, transparent, red);
    animation: card1-bottom 2s linear infinite; }
  #card1 .card__item span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: .3rem;
    height: 100%;
    background: linear-gradient(to top, transparent, DarkViolet);
    animation: card1-left 2s linear infinite;
    animation-delay: 1s; }

#card2 .card__item:before {
  content: '';
  position: absolute;
  top: -.2rem;
  left: -.2rem;
  background: linear-gradient(45deg, red, green, orange, SpringGreen, DarkSlateGray, yellow, coral, white, cyan, GreenYellow, Crimson);
  width: calc(100% + .4rem);
  height: calc(100% + .4rem);
  background-size: 400%;
  z-index: -1;
  animation: card2 40s linear infinite; }
