@keyframes rainbow {
  0% {
    color: orange; }
  10% {
    color: SpringGreen; }
  20% {
    color: red; }
  30% {
    color: DarkSlateGray; }
  40% {
    color: yellow; }
  50% {
    color: coral; }
  60% {
    color: white; }
  70% {
    color: cyan; }
  80% {
    color: GreenYellow; }
  90% {
    color: Crimson; }
  100% {
    color: orange; } }

:root {
  --color-primary-light: #009be5;
  --color-primary-dark: #1b6aac;
  --color-black-light: rgb(23 23 23 / 90%);
  --box-shadow-light: 0.3rem 0.4rem 1rem rgba(0, 0, 0, 0.15);
  --box-shadow-dark: 1.2rem 1.2rem 1.4rem rgba(0, 0, 0, 0.35); }

.rainbow-text {
  -webkit-animation: rainbow 5s infinite;
  animation: rainbow 5s infinite; }

.text-center {
  text-align: center; }

.text-uppercase {
  text-transform: uppercase; }

.my-large {
  margin-bottom: 4rem; }

.card-layout, #classic-card .card, #card1 .card, #card2 .card, #card3 .card, #card4 .card, #card5 .card, #card6 .card, #card7 .card, #card8 .card, #card9 .card {
  display: grid;
  place-items: center;
  grid-gap: 8rem;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1.6rem; }
  @media screen and (max-width: 62.5rem) {
    .card-layout, #classic-card .card, #card1 .card, #card2 .card, #card3 .card, #card4 .card, #card5 .card, #card6 .card, #card7 .card, #card8 .card, #card9 .card {
      grid-gap: 4rem;
      grid-template-columns: repeat(1, 1fr); } }

.card-item, #classic-card .card__item, #card1 .card__item, #card2 .card__item, #card3 .card__item, #card4 .card__item, #card5 .card__item, #card6 .card__item, #card7 .card__item, #card8 .card__item, #card9 .card__item {
  box-shadow: var(--box-shadow-dark);
  background: linear-gradient(45deg, #fff, #fff);
  display: grid;
  place-items: center;
  width: 100%;
  padding: 2rem;
  position: relative; }

.card-image, #classic-card .card__image, #card1 .card__image, #card2 .card__image, #card3 .card__image, #card4 .card__image, #card5 .card__image, #card6 .card__image, #card7 .card__image, #card8 .card__image, #card9 .card__image {
  width: 16rem; }

@keyframes card1-top {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(100%); } }

@keyframes card1-right {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(100%); } }

@keyframes card1-bottom {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(-100%); } }

@keyframes card1-left {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(-100%); } }

@keyframes card2 {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 400% 0; }
  100% {
    background-position: 0 0; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #000; }

html {
  font-size: 62.5%; }

* {
  font-family: "Source Code Pro", monospace; }

h1 {
  font-size: 3.8rem; }

h2 {
  font-size: 3.2rem; }

h3 {
  font-size: 2.8rem; }

body {
  background-color: #fff; }

main {
  padding-top: 8rem; }

main > *:not(:last-child) {
  padding: 8rem; }
  @media screen and (max-width: 43.75rem) {
    main > *:not(:last-child) {
      padding: 2rem; } }

main > *:nth-child(odd) {
  background-color: #efefef; }

footer {
  background-color: var(--color-black-light) !important;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0;
  text-transform: uppercase;
  font-weight: 700; }

.navigation {
  position: fixed;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-black-light);
  color: #fff;
  text-align: center;
  z-index: 1000; }
  @media screen and (max-width: 37.5em) {
    .navigation {
      justify-content: center;
      padding: 1.6rem 0rem; } }
  .navigation__logo {
    display: flex;
    place-items: center;
    font-style: italic;
    padding: 1.6rem 2rem; }
    .navigation__logo img {
      width: 6rem;
      margin-right: 2rem; }
  .navigation__menu {
    list-style: none;
    font-weight: 400;
    margin: 0 2.4rem;
    display: flex; }
    @media screen and (max-width: 37.5em) {
      .navigation__menu {
        margin: 0; } }
  .navigation__menu-item {
    cursor: pointer;
    display: flex;
    background-color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 1rem;
    border-bottom: 1px solid transparent;
    transition: background-color 0.3s;
    border-radius: .5rem; }
    .navigation__menu-item a {
      width: 100%;
      padding: 1rem 2.6rem; }
    .navigation__menu-item:hover {
      background-color: rgba(255, 255, 255, 0.8); }

#classic-layout .classic-layout {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  place-items: center;
  justify-items: center;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700; }
  @media screen and (max-width: 37.5em) {
    #classic-layout .classic-layout {
      grid-template-columns: auto; } }
  #classic-layout .classic-layout > * {
    width: 100%;
    text-align: center; }
  #classic-layout .classic-layout__header {
    padding: 2rem;
    grid-column: 1 / -1;
    background-color: BlueViolet; }
  #classic-layout .classic-layout__sidebar-left {
    padding: 2rem;
    background-color: SteelBlue; }
  #classic-layout .classic-layout__sidebar-right {
    padding: 2rem;
    background-color: DarkSlateGray; }
  #classic-layout .classic-layout__main {
    padding: 2rem;
    background-color: PaleVioletRed; }
  #classic-layout .classic-layout__footer {
    padding: 2rem;
    grid-column: 1 / -1;
    background-color: DarkCyan; }

#classic-main-layout .classic-main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 30vh;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700; }
  #classic-main-layout .classic-main__header {
    padding: 2rem;
    grid-column: 1 / -1;
    background-color: BlueViolet; }
  #classic-main-layout .classic-main__main {
    padding: 2rem;
    background-color: SteelBlue; }
  #classic-main-layout .classic-main__footer {
    padding: 2rem;
    grid-column: 1 / -1;
    background-color: DarkCyan; }

#classic-card-layout .classic-card {
  display: grid;
  place-items: center;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700; }
  #classic-card-layout .classic-card__item {
    display: grid;
    place-items: center;
    background-color: SlateBlue;
    width: 100%;
    height: 15vh; }

#classic-grid-layout .classic-grid {
  display: grid;
  place-items: center;
  grid-gap: 2rem;
  grid-template-columns: repeat(12, 1fr);
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700; }
  @media screen and (max-width: 61.25em) {
    #classic-grid-layout .classic-grid {
      display: block; } }
  #classic-grid-layout .classic-grid__item {
    background-color: var(--color-primary-light);
    padding: 2rem;
    width: 100%;
    text-align: center; }
    @media screen and (max-width: 61.25em) {
      #classic-grid-layout .classic-grid__item {
        margin: 1em 0; } }
    #classic-grid-layout .classic-grid__item:nth-child(1) {
      grid-column: span 12; }
    #classic-grid-layout .classic-grid__item:nth-child(2), #classic-grid-layout .classic-grid__item:nth-child(3) {
      grid-column: span 6; }
    #classic-grid-layout .classic-grid__item:nth-child(4), #classic-grid-layout .classic-grid__item:nth-child(5), #classic-grid-layout .classic-grid__item:nth-child(6) {
      grid-column: span 4; }
    #classic-grid-layout .classic-grid__item:nth-child(7), #classic-grid-layout .classic-grid__item:nth-child(8), #classic-grid-layout .classic-grid__item:nth-child(9), #classic-grid-layout .classic-grid__item:nth-child(10) {
      grid-column: span 3; }
    #classic-grid-layout .classic-grid__item:nth-child(11), #classic-grid-layout .classic-grid__item:nth-child(12), #classic-grid-layout .classic-grid__item:nth-child(13), #classic-grid-layout .classic-grid__item:nth-child(14), #classic-grid-layout .classic-grid__item:nth-child(15), #classic-grid-layout .classic-grid__item:nth-child(16) {
      grid-column: span 2; }
    #classic-grid-layout .classic-grid__item:nth-child(17), #classic-grid-layout .classic-grid__item:nth-child(18), #classic-grid-layout .classic-grid__item:nth-child(19), #classic-grid-layout .classic-grid__item:nth-child(20), #classic-grid-layout .classic-grid__item:nth-child(21), #classic-grid-layout .classic-grid__item:nth-child(22), #classic-grid-layout .classic-grid__item:nth-child(23), #classic-grid-layout .classic-grid__item:nth-child(24), #classic-grid-layout .classic-grid__item:nth-child(25), #classic-grid-layout .classic-grid__item:nth-child(26), #classic-grid-layout .classic-grid__item:nth-child(27), #classic-grid-layout .classic-grid__item:nth-child(28) {
      grid-column: span 1; }

#card1 .card__item {
  overflow: hidden; }
  #card1 .card__item span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: .5rem;
    background: linear-gradient(to right, transparent, var(--color-primary-dark));
    animation: card1-top 2s linear infinite; }
  #card1 .card__item span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: .5rem;
    height: 100%;
    background: linear-gradient(to bottom, transparent, LimeGreen);
    animation: card1-right 2s linear infinite;
    animation-delay: 1s; }
  #card1 .card__item span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .5rem;
    background: linear-gradient(to left, transparent, red);
    animation: card1-bottom 2s linear infinite; }
  #card1 .card__item span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: .5rem;
    height: 100%;
    background: linear-gradient(to top, transparent, DarkViolet);
    animation: card1-left 2s linear infinite;
    animation-delay: 1s; }

#card2 .card__item:before {
  content: '';
  position: absolute;
  top: -.4rem;
  left: -.4rem;
  background: linear-gradient(45deg, orange, CornflowerBlue, LawnGreen, yellow, coral, Crimson);
  width: calc(100% + .8rem);
  height: calc(100% + .8rem);
  background-size: 400%;
  z-index: -1;
  animation: card2 20s linear infinite; }

#card3 .card__item {
  transition: all 0.4s linear;
  padding: 0rem; }
  #card3 .card__item:before {
    content: "";
    position: absolute;
    top: -9px;
    left: -9px;
    bottom: -9px;
    right: -9px;
    z-index: 1;
    z-index: 1;
    transform: skew(2deg, 2deg);
    transition: inherit; }
  #card3 .card__item:hover::before {
    transform: skew(-2deg, -2deg); }
  #card3 .card__item:hover {
    transform: translateY(-0.4rem); }

#card3 .card__content {
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  z-index: 1;
  width: 100%; }

#card3 .card__item:nth-child(1):before {
  background: linear-gradient(315deg, #0876b7, red); }

#card3 .card__item:nth-child(2):before {
  background: linear-gradient(315deg, BlueViolet, PaleVioletRed); }

#card3 .card__item:nth-child(3):before {
  background: linear-gradient(315deg, SlateBlue, YellowGreen); }

#card4 .card__item {
  transition: all 0.4s linear;
  padding: 0rem; }
  #card4 .card__item:after {
    content: "";
    position: absolute;
    background: linear-gradient(to bottom right, green, red);
    top: -.2rem;
    left: -.2rem;
    bottom: -.2rem;
    right: -.2rem;
    z-index: -2;
    transition: inherit; }
    @supports (-webkit-filter: blur(2rem)) and (filter: blur(2rem)) {
      #card4 .card__item:after {
        filter: blur(2rem); } }
  #card4 .card__item:hover::after {
    filter: blur(5px); }

#card4 .card__content {
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  z-index: 1; }

#card4 .card__item:nth-child(1):after {
  background: linear-gradient(315deg, #0876b7, green); }

#card4 .card__item:nth-child(2):after {
  background: linear-gradient(315deg, BlueViolet, PaleVioletRed); }

#card4 .card__item:nth-child(3):after {
  background: linear-gradient(315deg, OrangeRed, YellowGreen); }

#card5 .card__item {
  transition: all 0.3s linear; }
  #card5 .card__item:after {
    content: "";
    position: absolute;
    background: linear-gradient(to bottom right, green, red);
    top: -.2rem;
    left: -.2rem;
    bottom: -.2rem;
    right: -.2rem;
    z-index: -2;
    transition: inherit; }
    @supports (-webkit-filter: blur(2rem)) and (filter: blur(2rem)) {
      #card5 .card__item:after {
        filter: blur(2rem); } }
  #card5 .card__item:hover::after {
    filter: blur(5px); }
  #card5 .card__item:hover {
    transform: translateY(-0.4rem); }

#card5 .card__content {
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  z-index: 1; }

#card5 .card__item:nth-child(1):after {
  background: linear-gradient(315deg, #0876b7, green); }

#card5 .card__item:nth-child(2):after {
  background: linear-gradient(315deg, BlueViolet, PaleVioletRed); }

#card5 .card__item:nth-child(3):after {
  background: linear-gradient(315deg, OrangeRed, YellowGreen); }

#card6 .card__image {
  z-index: 10;
  background-color: #fff;
  transition: inherit;
  transform: translateY(4.5rem); }

#card6 .card__item {
  transition: all 0.4s linear; }

#card6 .card__content {
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  z-index: 1;
  opacity: 0;
  transition: inherit;
  transform: translateY(-5rem); }

#card6 .card__item:hover {
  transform: scale(1.03); }

#card6 .card__item:hover .card__content {
  transform: translateY(0rem);
  opacity: 1; }

#card6 .card__item:hover .card__image {
  transform: translateY(0rem);
  opacity: 1; }

#card7 .card__image {
  transition: inherit;
  transform: translateX(55%); }

#card7 .card__item {
  grid-template-columns: repeat(2, 1fr);
  transition: all 0.4s linear; }

#card7 .card__content {
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  z-index: 1;
  opacity: 0;
  transition: inherit;
  transform: translateX(-5rem); }

#card7 .card__item:hover {
  transform: scale(1.07); }

#card7 .card__item:hover .card__content {
  transform: translateX(0rem);
  opacity: 1; }

#card7 .card__item:hover .card__image {
  transform: translateX(0%);
  opacity: 1; }

#card8 .card__image {
  z-index: 10;
  background-color: #fff;
  transition: inherit;
  transform: translateX(55%); }

#card8 .card__item {
  grid-template-columns: repeat(2, 1fr);
  transition: all 0.4s linear; }

#card8 .card__content {
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  z-index: 1;
  opacity: 0;
  transition: inherit;
  transform: translateX(-5rem); }

#card8 .card__item:hover {
  transform: scale(1.07); }

#card8 .card__item:hover .card__content {
  transform: translateX(-55%);
  opacity: 1; }

#card8 .card__item:hover .card__image {
  opacity: 0; }

#card9 .card__image {
  z-index: 10;
  transition: inherit;
  transform: translateX(55%); }

#card9 .card__item {
  grid-template-columns: repeat(2, 1fr);
  transition: all 0.4s linear; }

#card9 .card__content {
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  z-index: 1;
  opacity: 0;
  transition: inherit;
  transform: translateX(-5rem); }

#card9 .card__item:hover {
  transform: scale(1.07); }

#card9 .card__item:hover .card__content {
  transform: translateX(-50%);
  opacity: 1; }

#card9 .card__item:hover .card__image {
  opacity: 0; }

#card9 .card__item:nth-child(1) {
  background: linear-gradient(315deg, #0876b7, green); }

#card9 .card__item:hover:nth-child(1) {
  background: linear-gradient(315deg, rgba(8, 119, 183, 0.7), rgba(0, 128, 0, 0.7)); }

#card9 .card__item:nth-child(2) {
  background: linear-gradient(315deg, BlueViolet, PaleVioletRed); }

#card9 .card__item:hover:nth-child(2) {
  background: linear-gradient(315deg, rgba(137, 43, 226, 0.7), rgba(216, 112, 147, 0.7)); }

#card9 .card__item:nth-child(3) {
  background: linear-gradient(315deg, OrangeRed, YellowGreen); }

#card9 .card__item:hover:nth-child(3) {
  background: linear-gradient(315deg, rgba(255, 68, 0, 0.7), rgba(153, 205, 50, 0.7)); }
