#home9 {
  @extend .home-layout;
  background-image:
    url(https://source.unsplash.com/random);
  background-size: cover;
  height: auto;
  padding: 0;

  .home {
    @extend .home;
    @include transition();
    position: relative;
    transform: translate(0);
    padding: 0;
    width: 50%;

    @media screen and (max-width: 43.75rem) {
      position: relative;
      transform: translate(0);
      width: 100%;
      top: 0%;
      left: 0%;
    }

    &__content {
      padding: 5vh 2vw;
    }

    &__door-left,
    &__door-right {
      height: 100%;
      position: absolute;
      background-color: var(--color-grey-light);
      z-index: 3;
      width: 50%;
      top: 0;
      @include transition(1s);
      transition-delay: 1s;
    }

    &__door-left {
      left: 0;
    }

    &__door-right {
      right: 0;
    }

    &__lock-open,
    &__lock-closed {
      z-index: 7;
      font-size: 10rem;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transition(0.3s);
    }

    &__lock {
      z-index: 4;
      font-size: 10rem;
      position: absolute;
      top: 50%;
      left: 50%;
      color: #fff;

      @include transition(.9s);
      transition-delay: 0.2s;
    }

    &__lock-closed {
      transform: translate(-60%, -50%);
    }

    &__lock-open {
      transform: translate(-50%, -50%);
      opacity: 0;
    }

    &:hover .home__door-left {
      width: 0%;
    }

    &:hover .home__door-right {
      width: 0%;
    }

    &:hover .home__lock {
      opacity: 0;
    }


    &:hover .home__lock-open {
      transform: translate(-38%, -50%) rotate(360deg);
      opacity: 1;
    }

    &:hover .home__lock-closed {
      transform: translate(-38%, -50%) rotate(260deg);
      opacity: 0;
    }
  }
}