#home1 {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.719)), url(https://source.unsplash.com/random);
    background-size: cover;
    position: relative;
    height: 40vh;
    background-position: center center;
    grid-template-rows: repeat(3, 1fr);


    @media screen and (max-width: 43.75rem) {
        height: 100%;
        font-size: 1.6rem;

    }

    .home1 {
        display: grid;
        place-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #fff;
        background-color: rgba(255, 255, 255, 0.4);
        padding: 5vh 5vw;
        border-radius: 10px;
        gap: 1.5rem;
        text-align: center;
        width: 55vw;

        @media screen and (max-width: 43.75rem) {
            position: relative;
            margin: 2rem;
            transform: translate(0);
            width: 90vw;
            top: 0%;
            left: 0%;
        }

        &__title {

            @media screen and (max-width: 43.75rem) {
                font-size: 3.2rem;
            }
        }

        &__sub-title {

            @media screen and (max-width: 43.75rem) {
                font-size: 1.8rem;
            }

        }

        &__text {
            font-size: 2rem;

            @media screen and (max-width: 43.75rem) {
                font-size: 1.4rem;
            }
        }
    }

}