#home2 {
    @extend .home-layout;
    background-image: linear-gradient(130deg, rgba(0, 0, 0, 0.7) 50%, transparent 50%), url(https://source.unsplash.com/random);
    background-size: cover;

    .home {
        // display: grid;
        // place-items: center;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // background-color: rgba(255, 255, 255, 0.9);
        // padding: 5vh 5vw;
        // border-radius: 10px;
        // gap: 1.5rem;
        // text-align: center;
        // width: 55vw;
        @extend .home;

        @media screen and (max-width: 43.75rem) {
            position: relative;
            transform: translate(0);
            width: 90vw;
            top: 0%;
            left: 0%;
        }

    }

}