#home3 {
    @extend .home-layout;
    background-image: url(https://source.unsplash.com/random);
    background-size: cover;

    @media screen and (max-width: 43.75rem) {
     height: 100%;
     font-size: 1.6rem;
 }

    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

    .home {
        // display: grid;
        // place-items: center;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // border: 1px solid #fff;
        // background-color: rgba(255, 255, 255, 0.8);
        // padding: 5vh 5vw;
        // border-radius: 10px;
        // gap: 1.5rem;
        // text-align: center;
        // width: 50vw;
        @extend .home;
        @media screen and (max-width: 43.75rem) {
            position: relative;
            transform: translate(0);
            width: 90vw;
            top: 0%;
            left: 0%;
        }

    }

}